.btn {
  width: 140px;

  .rightArrow {
    position: absolute;
    right: 10px;
    top: 9px;
  }
}

.drop_down {
  display: flex;
  > div {
    flex: 1;
    padding: 2px 0;
    text-align: center;
    &:first-child {
      border-right: 1px solid #ccc;
    }
    .common_cell {
      line-height: 26px;
      &:hover {
        background-color: #e6f7ff;
      }
      &.active {
        background-color: #8bd0f0;
      }
    }
  }
}
.drop_down_menu {
  width: 180px;
}

.time_picker_menu_item {
  padding: 5px;
}
