.m_l_10 {
  margin-left: 10px;
}

.m_t_10 {
  margin-top: 10px;
}

.m_b_10 {
  margin-bottom: 10px;
}

.m_r_10 {
  margin-right: 10px;
}

.ac {
  text-align: center;
}

.po100 {
  width: 100%;
  height: 100%;
  line-height: 30px;
}