.m_l_10 {
  margin-left: 10px;
}
.m_l_20 {
  margin-left: 20px;
}

.m_t_10 {
  margin-top: 10px;
}
.m_t_20 {
  margin-top: 20px;
}

.m_b_10 {
  margin-bottom: 10px;
}
.m_b_20 {
  margin-bottom: 20px;
}

.m_r_10 {
  margin-right: 10px;
}
.m_r_20 {
  margin-right: 20px;
}

.ac {
  text-align: center;
}

.po100 {
  width: 100%;
  height: 100%;
  line-height: 30px;
}

.ver_m {
  vertical-align: middle !important;
}
.ver_s {
  vertical-align: sub !important;
}
.ver_t {
  vertical-align: top !important;
}
.ver_t_t {
  vertical-align: text-top !important;
}

.App {
  padding: 20px 50px;
  border-radius: 4px;
  > div {
    background-color: #fff;
  }
}
