.price_item {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #e8e8e8;
  line-height: 32px;
  .price_item_icon {
    width: 100px;
  }
  > span {
    flex: 1;
  }
  .operation {
    width: 140px;
    text-align: center;
  }
}
